<%- include("partials/header.ejs") %>
<!--Remember this include when add a new page-->
<main class="container">
  <!--main should move to main page-->
  <!---->
  <form>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="<%= defaultDate %>" />
  </form>
  <h2>Enter the 2FA code sent to your email</h2>
  <% if (message) { %>
  <p style="color: red"><%= message %></p>
  <% } %>
  <form method="POST" action="/2fa">
    <input type="text" name="otp" placeholder="6-digit code" required />
    <button type="submit">Verify</button>
  </form>
  <!---->
  <h1>Hoa Mai</h1>

  <!--Refer to index.ejs how to include header and footer.ejs-->
</main>

<%- include("partials/footer.ejs") %><!--Remember this include when add a new page-->
