<%- include("partials/header.ejs") %>
<main>
  <!--main should move to main page-->
  <!---->
  <form>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="<%= defaultDate %>" />
  </form>
  <br />
  <!---->
  <!--<main class= "container" ></main> Original: no scrollbar horizontal show-->
  <h2>Hello</h2>
  <h3>Welcome</h3>
  <!---->
  <div class="apd">
    <div class="card" style="width: 18rem">
      <img src="/images/rose.png" class="card-img-top" alt="Rose" />
      <div class="card-body">
        <h5 class="card-title">Hoa Hường</h5>
        <p class="card-text">EA</p>
        <a id="m1" href="#" class="btn btn-primary">Nguyễn</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img src="/images/HM.png" class="card-img-top" alt="Flower" />
      <div class="card-body">
        <h5 class="card-title">Hoa Mai</h5>
        <p class="card-text">SAP Certified HANA FICO Professional</p>
        <a id="m5" href="#" class="btn btn-primary">Thành</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img src="/images/rose.png" class="card-img-top" alt="Rose" />
      <div class="card-body">
        <h5 class="card-title">Hoa Hồng</h5>
        <p class="card-text">CPA</p>
        <a id="m2" href="#" class="btn btn-primary">Hiếu</a>
      </div>
    </div>
  </div>
  <!---->
  <div class="apd">
    <div class="card" style="width: 18rem">
      <img src="/images/rose.png" class="card-img-top" alt="Rose" />
      <div class="card-body">
        <h5 class="card-title">Hoa Hường</h5>
        <p class="card-text">EA</p>
        <a id="m1" href="#" class="btn btn-primary">Nguyễn</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img src="/images/HM.png" class="card-img-top" alt="Flower" />
      <div class="card-body">
        <h5 class="card-title">Hoa Mai</h5>
        <p class="card-text">SAP Certified HANA FICO Professional</p>
        <a id="m5" href="#" class="btn btn-primary">Thành</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img src="/images/rose.png" class="card-img-top" alt="Rose" />
      <div class="card-body">
        <h5 class="card-title">Hoa Hồng</h5>
        <p class="card-text">CPA</p>
        <a id="m2" href="#" class="btn btn-primary">Hiếu</a>
      </div>
    </div>
  </div>

  <!--Refer to index.ejs how to include header and footer.ejs-->
</main>

<%- include("partials/footer.ejs") %>
